<!-- inicio de jumbotrom -->
<div class="jumbotron">
    <h1>REPUESTOS ORIGINALES Y ALTERNATIVOS</h1>
    <p>Vicente Lopez 1874 - Olavarria - Buenos Aires</p>
    <button type="button" class="btn btn-danger" href="https://walink.co/464f41">mas info</button>
</div>
<!-- fin de jumbotrom -->

<!-- inicio de presupuestos -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 item item1">
            <i class="fa-solid fa-image"></i>
        </div>
        <div class="col-md-4 item item2">
            <i class="fa-solid fa-image"></i>
        </div>
        <div class="col-md-4 item item3">
            <i class="fa-solid fa-image"></i>
        </div>
        <div class="col-md-4 item item1">
            <i class="fa-solid fa-image"></i>
        </div>
        <div class="col-md-4 item item2">
            <i class="fa-solid fa-image"></i>
        </div>
        <div class="col-md-4 item item3">
            <i class="fa-solid fa-image"></i>
        </div>
    </div>
</div>