<!-- inicio de jumbotrom -->
<div class="jumbotron">
    <h1>REPUESTOS ORIGINALES Y ALTERNATIVOS</h1>
    <p>Vicente Lopez 1874 - Olavarria - Buenos Aires</p>
    <button type="button" class="btn btn-danger" onclick="location.href='https://walink.co/464f41';">mas info</button>
  </div>
  <!-- fin de jumbotrom -->
  
  <!-- inicio de presupuestos -->
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-4 item item1">
            <i class="fa-solid fa-truck"></i>
            <p>Envios seguros a todo el pais</p>
        </div>
        <div class="col-md-4 item item2">
            <i class="fa-solid fa-credit-card"></i>
            <p>Aceptamos todos los medios de pagos</p>
        </div>
        <div class="col-md-4 item item3">
            <i class="fa-solid fa-clock"></i>
            <p>Lunes a Viernes 8hs a 19hs</p>
            <p>Sabado 8hs a 13hs</p>
        </div>
    </div>
  </div>
  
  <!-- fin de presupuestoss -->
  
  <!-- inicio de carrusel -->
  <h2 class="titulomarcas">MARCAS CON LAS QUE TRABAJAMOS</h2>
  <div class="wrapper">
    <i id="left" class="fa-solid fa-angle-left"></i>
    <div class="carousel">
        <img src="assets/img/peugeot-logo-5.png" alt="img" draggable="false">
        <img src="assets/img/chevrolet.png" alt="img" draggable="false">
        <img src="assets/img/logovw.png" alt="img" draggable="false">
        <img src="assets/img/logoford.png" alt="img" draggable="false">
        <img src="assets/img/logofiat.png" alt="img" draggable="false">
        <img src="assets/img/logorenault.png" alt="img" draggable="false">
        <img src="assets/img/logocitroen.png" alt="img" draggable="false">
        <img src="assets/img/logobmw.png" alt="img" draggable="false">
        <img src="assets/img/logotoyota.png" alt="img" draggable="false">
        <img src="assets/img/logonissan.png" alt="img" draggable="false">
        <img src="assets/img/logohonda.png" alt="img" draggable="false">
    </div>
    <i id="right" class="fa-solid fa-angle-right"></i>
  </div>
  
  <!-- fin de carrusel -->
  
  <!-- inicio de nosotros -->
  
  
  <div class="container-fluid">
    <div class="row" id="nosotros">
        <aside class="col-md-4 nleft aside-left">
            <h2>QUIENES SOMOS</h2>
            <p>Somos un negocio con mas de 10 años de trayectoria, nos especializamos en repuestos
                originales y alternativos. Llegamos al mercado para hacerte conseguir ese repuesto que necesitas
                siendo rápido y fácil.</p>
            <div class="contenedor">
                <h3><i class="fa-solid fa-location-dot"></i> Vicente Lopez 1874</h3>
            </div>
            <div class="contenedor">
                <a  href="tel:+542284683603"> 
                  <h3>
                    <i class="fa-solid fa-phone"></i>2284-683603
                  </h3>
                </a>
            </div>
            <div class="contenedor">
                <a href="mailto:autopartesframar@hotmail.com" target="_blank">
                  <h3>
                    <i class="fa-solid fa-envelope"></i> autopartesframar@hotmail.com
                  </h3>
                </a>
                <hr class="separador">
                <h2 class="presupuesto">SOLICITANOS TU PRESUPUESTO</h2>
                <button type="button" class="btn btn-danger presu" onclick="location.href='https://walink.co/464f41';">cotiza ahora</button>
                <hr class="separador">
            </div>
        </aside>
        <aside id="nosotros" class="col-md-8 nright aside-right">
            <h2>DONDE NOS ENCONTRAMOS</h2>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12762.488639503816!2d-60.3308933!3d-36.8993863!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x959445b6e1f54cef%3A0xbaa4366bcc36a9e1!2sFramar%20Autopartes!5e0!3m2!1ses!2sar!4v1681771740056!5m2!1ses!2sar"
                width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </aside>
    </div>
  </div>
  
  
  <!-- fin de nosotros -->